<div 
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 backdrop-blur-sm z-50">
  <div 
    class="bg-white rounded-lg shadow-lg p-6 w-11/12 max-w-md">
    <h2 class="text-xl font-semibold mb-4">Formulario de Ciclo de Grupo</h2>
    <form 
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="space-y-4">
      
      <!-- Select para Mes -->
      <div>
        <label 
          for="month" 
          class="block text-sm font-medium text-gray-700 mb-1">
          Mes
        </label>
        <select 
          id="month" 
          formControlName="month"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300">
          <option *ngFor="let month of months; let i = index" [value]="i + 1">{{ month }}</option>
        </select>
      </div>

      <!-- Input para Año -->
      <div>
        <label 
          for="yearInput" 
          class="block text-sm font-medium text-gray-700 mb-1">
          Año
        </label>
        <input 
          type="number" 
          id="yearInput" 
          formControlName="year"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300">
        <div 
          *ngIf="form.controls['year'].hasError('yearInvalid')" 
          class="text-sm text-red-500 mt-1">
          {{ form.controls['year'].getError('yearInvalid') }}
        </div>
      </div>

      <!-- Botones de Enviar y Cancelar -->
      <div class="flex justify-end gap-4">
        <button 
          type="button"
          (click)="onCancel()"
          class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600 transition">
          Cancelar
        </button>
        <button 
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition">
          Enviar
        </button>
      </div>
    </form>

    <div 
      *ngIf="errorMessage" 
      class="mt-4 text-sm text-red-500">
      {{ errorMessage }}
    </div>
  </div>
</div>
