<form [formGroup]="form" class="bg-white p-6 rounded-lg" (ngSubmit)="create()">

    <mat-dialog-content class="mat-typography">
        <div>
            <div class="md:grid md:grid-cols-3 md:gap-6">
                <div class="md:col-span-1">
                    <div class="px-4 sm:px-0">
                        <h3 class="text-2xl font-medium leading-6 text-gray-900">Creación de Equipo Profesional</h3>
                        <hr class="my-2">
                        <h3 class="text-xl  leading-6 text-gray-900">Grupo: <strong *ngIf="group"> {{group.name}}</strong></h3>
                        <h3 class="text-xl  leading-6 text-gray-900 mb-2">Componente: <strong *ngIf="component">{{component.name}}</strong></h3>
                        <p class="mt-1 text-sm text-gray-600">Esta será información con la que se creará el grupo de equipo profesional.
                        </p>
                    </div>
                </div>
                <div class="mt-5 md:col-span-2 md:mt-0">

                    <app-professional-team-select (professionalTeamIdListen)="onProfessionalTeamSelect($event)"></app-professional-team-select>

                </div>
            </div>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="bg-primary text-white p-2 rounded-lg hover:bg-primary-200" mat-flat-button primary
            [disabled]="form.invalid" [type]="form.invalid ? 'button' : 'submit'">Crear Grupo de Equipo Profesional</button>
    </mat-dialog-actions>
</form>
<!-- <app-loading *ngIf="loading"></app-loading> -->