<div class="h-[94vh] flex flex-col items-center justify-center rounded-lg bg-gradient-to-br from-blue-500 to-[#3131B3] text-white">
    <div class="flex flex-col items-center mb-8 text-center">
      <img src="img/log.png" alt="Logo" class="w-32 h-32 mb-4 rounded-full shadow-lg bg-white">
      <h1 class="text-4xl font-bold mb-2 animate-fade-in">¡Bienvenido, {{ user?.name }}!</h1>
      <p class="text-lg mb-2 italic opacity-80">Nos alegra verte de nuevo</p>
      <p class="text-lg mb-2 italic opacity-80 font-bold"> ({{ user?.role }}) </p>
    </div>
  
  </div>
  