<div class="block justify-center bg-gray-50 p-4">
  <app-button-back [routeBack]="backRoute" class="mb-2"></app-button-back>
    <h2 class="text-3xl">Cargue de Planillas de Asistencia</h2>
    <p>Por favor seleccione un archivo de las planillas de asistencia o cargue una fotografía</p>
    <mat-card class="p-6 w-full shadow-lg rounded-lg mb-4">
      <h2 class="text-xl font-semibold text-gray-700 mb-4">Subir Imagen</h2>
  
      <div class="mb-6">
        <!-- Input para subir la imagen -->
         <div class="border border-red-500 border-solid p-4 text-red-500" *ngIf="alert">
            {{ alert }}
         </div>
        <label
          for="imageUpload"
          class="block text-gray-600 font-medium mb-2"
        >Selecciona o captura una imagen:</label>
        <input
          type="file"
          accept="image/*"
          capture="environment"
          id="imageUpload"
          (change)="onFileSelected($event)"
          class="block w-full border rounded-md p-2 text-sm"
        />
      </div>
  
      <!-- Previsualización de la imagen -->
      <div *ngIf="imagePreview" class="mb-6 ">
        <h3 class="text-gray-600 font-medium mb-2">Previsualización:</h3>
        <p>Por favor utiice los botones para garantizar que la imagen se envía horizontal</p>

        <div *ngIf="!imageLoaded" class="mt-4 mb-4 flex gap-4 justify-center">
          <button
            mat-flat-button
            color="primary"
            (click)="rotateLeft()"
            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow-md"
          >
            Rotar Izquierda
          </button>
          <button *ngIf="!imageLoaded"
            mat-flat-button
            color="primary"
            (click)="rotateRight()"
            class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded shadow-md"
          >
            Rotar Derecha
          </button>
        </div>

        <img
          [src]="imagePreview"
          alt="Previsualización de la imagen"
          class="rounded-md border shadow-md w-full"
        />
        <app-image-viewer
        [imageUrl]="imageUrl"></app-image-viewer>  
        
        <div *ngIf="imagePreviewResult" class="mt-4 flex justify-center">
          <a target="_blank"
            [href]="imagePreviewResult" 
            download 
            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow-md flex items-center gap-2"
          >
            <span class="material-icons">file_download</span>
            Descargar Imagen Resultado
          </a>
        </div>
        
      </div>
  
      <!-- Botón para enviar -->
      <button *ngIf="!imageLoaded"
        mat-flat-button
        color="primary"
        class="w-full"
        [disabled]="!imagePreview"
        (click)="uploadImage()"
      >
        Subir Planilla
      </button>
    </mat-card>
  </div>

  <h2 class="text-3xl text-center mb-4" *ngIf="showTableData">Asistencias Detectadas</h2>

  <app-assistance-table-fixed *ngIf="showTableData"
    [records]="dataSource.data"
    (minusClicked)="handleMinus($event)"
    (plusClicked)="handlePlus($event)"
    (addClicked)="handleAdd($event)"
    class="mb-4">
  </app-assistance-table-fixed>


  <h2 class="text-3xl text-center mb-4 mt-4" *ngIf="showTableData">Beneficiarios Del Grupo</h2>
  <app-assistance-beneficiaries
    *ngIf="showTableData"
    [records]="assistanceBeneficiariesList"
    (addClicked)="handleAdd($event)">
  </app-assistance-beneficiaries>
  <app-assistance-beneficiaries-date-selector
    *ngIf="dateSelector"
    [groupComponentId]="groupComponentId"
    [assistanceDateStart]="assistanceDateStart"
    [assistanceDateEnd]="assistanceDateEnd"
    (closeClicked)="handleClose()"
    (createClicked)="handleCreate($event)">
  </app-assistance-beneficiaries-date-selector>

  <button *ngIf="imageLoaded"
  mat-flat-button
  color="primary"
  class="w-full mt-4"
  [routerLink]="['/app', 'assistance-edit', assistanceScannerId]">
    Verificación final de asistencias y subsanaciones
  </button>

  <button *ngIf="imageLoaded"
  mat-flat-button
  color="primary"
  class="w-full mt-4"
  (click)="newAssistance()"
  >
    Subir Otra Planilla
  </button>

  <app-loading *ngIf="loading"></app-loading>
