/* Dibujar el clip-half-diamond */
@keyframes drawDiamond {
  0% {
    clip-path: polygon(100% 50%, 100% 50%, 100% 50%);
  }
  100% {
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
  }
}
.animate-draw-diamond {
  animation: drawDiamond 0.5s ease-out forwards;
}

/* Submenú */
.transition-all {
  transition: all 0.5s ease-in-out;
}

/* styles.css o global.css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #3131B3;
}

::-webkit-scrollbar-thumb {
  background-color: #080531;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #231C89;
}
