<div class="w-full">
    <!-- Form -->
        <!-- Section -->
        <div class="w-fullmd:grid md:grid-cols-3 md:gap-6">
            <div class="text-xl text-center font-bold">Cambiar Contraseña</div>
            <div class="text-secondary text-center ">Sientete cómodo y mantén tu cuenta segura.</div>
        </div>
 
            <!-- New password -->
           
          
          
              <!-- Formulario -->
              <div class="flex flex-col w-full h-full px-1 lg:px-7 xl:px-7 sm:px-7">
                <form [formGroup]="form" (ngSubmit)="changePassword()">

                    <div class="flex flex-col px-10 pt-4">
                        <label for="password" class="text-xl font-bold">Contraseña Actual</label>
                        <div class="w-full h-auto rounded-lg shadow-xl bg-slate-200 flex items-center justify-center my-3">
                          <input 
                            class="px-4 w-full mx-5 bg-transparent border-none outline-none my-2" 
                            [type]="isView ? 'password' : 'text'"
                            placeholder="Digite su contraseña actual" 
                            formControlName="currentPassword"
                          >
                          <img
                                      [src]="isView ? 'svg/eye.svg' : 'svg/notView.svg'"
                                      alt=""
                                      class="mr-4 cursor-pointer"
                                      (click)="toggleView()"
                                    >
                        </div>
                      </div>
                      <div class="my-10 border-t"></div>

                    <div class="top-3 w-11/12 text-xs text-gray-700 px-10">
                        <h3 class="text-sm font-semibold text-gray-800 mb-2">Requisitos de seguridad:</h3>
                        <div class="flex text-red-600">
                          <div class="w-1/2 ">
                            <ul class="list-disc pl-5 space-y-1 ">
                              <li [class.text-green-500]="passwordValidations.minLength">Mínimo de 8 caracteres.</li>
                              <li [class.text-green-500]="passwordValidations.uppercase">Al menos una letra mayúscula (A-Z).</li>
                              <li [class.text-green-500]="passwordValidations.specialChar">Al menos un carácter especial (!#$%^&*).</li>
                            </ul>
                          </div>
                          <div class="w-1/2">
                            <ul class="list-disc pl-5 space-y-1">
                              <li [class.text-green-500]="passwordValidations.lowercase">Al menos una letra minúscula (a-z).</li>
                              <li [class.text-green-500]="passwordValidations.number">Al menos un número (0-9).</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  <!-- Campo de Contraseña -->
                  <div class="flex flex-col px-10 pt-4">
                    <label for="password" class="text-xl font-bold">Nueva Contraseña</label>
                    <div class="w-full h-auto rounded-lg shadow-xl bg-slate-200 flex items-center justify-center my-3">
                      <input 
                        class="px-4 w-full mx-5 bg-transparent border-none outline-none my-2" 
                        [type]="isView ? 'password' : 'text'"
                        placeholder="Digite su nueva contraseña" 
                        formControlName="password"
                        (input)="checkPassword($event)"
                      >
                      <img
                                  [src]="isView ? 'svg/eye.svg' : 'svg/notView.svg'"
                                  alt=""
                                  class="mr-4 cursor-pointer"
                                  (click)="toggleView()"
                                >
                    </div>
                  </div>
          
                  <!-- Confirmar Contraseña -->
                  <div class="flex flex-col px-10 pt-4">
                    <label for="confirmPassword" class="text-xl font-bold">Confirmar Contraseña</label>
                    <div class="w-full h-auto rounded-lg shadow-xl bg-slate-200 flex items-center justify-center my-3">
                      <input 
                        class="px-4 w-full mx-5 bg-transparent border-none outline-none my-2" 
                        [type]="isView ? 'password' : 'text'"
                        placeholder="Confirme su nueva contraseña" 
                        formControlName="confirmPassword"
                        (input)="validatePasswords()"
                      >
                      <img
                      [src]="isView ? 'svg/eye.svg' : 'svg/notView.svg'"
                      alt=""
                      class="mr-4 cursor-pointer"
                      (click)="toggleView()"
                    >
                    </div>
                    <div *ngIf="passwordsDoNotMatch" class="text-red-500 text-sm mt-1">
                      Las contraseñas no coinciden. Por favor, verifica e intenta de nuevo.
                    </div>
                  </div>
        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                [disabled]="!(form.get('password')?.value)"
                class="ml-4"
                mat-flat-button
                type="submit"
                [color]="'primary'">Guardar
            </button>
        </div>
    </form>

</div>

<app-loading *ngIf="loading"></app-loading>
