<h2 mat-dialog-title>Asignar Contraseña</h2>
<form [formGroup]="form" class="bg-white p-6 rounded-lg" (ngSubmit)="editUser()" *ngIf="user">

  <mat-dialog-content class="mat-typography">
    <div>
      <div class="md:grid md:grid-cols-1 md:gap-6">
        <div class="md:col-span-1">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900">Asignar Contraseña</h3>
            <p class="mt-1 text-sm text-gray-600">Esta será la nueva contraseña para el usuario.</p>
          </div>
        </div>
        <div class="mb-4">
          <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
            <mat-icon class="icon-size-3" (click)="showPassword=!showPassword">remove_red_eye</mat-icon>
            <mat-label class="ml-8">Contraseña
            </mat-label>
            <input class="ml-8" [formControlName]="'password'" [type]="showPassword ? 'text': 'password'" matInput>
          </mat-form-field>
            <div *ngIf="form.get('password')?.dirty && !(form.get('password')?.value)"
              class="mt-1 text-md text-hint text-primary">
              Mínimo 8 characteres.
            </div>
          </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button class="bg-indigo-500 text-white p-2 rounded-lg hover:bg-indigo-600" mat-flat-button primary
      cdkFocusInitial [disabled]="form.invalid"
      [type]="form.invalid ? 'button' : 'submit'">Asignar Contraseña</button>
  </mat-dialog-actions>
</form>
<app-loading *ngIf="loading"></app-loading>
