<button
class=" ml-4 absolute top-2 right-2 text-gray-500 hover:text-gray-700"
mat-icon-button
(click)="closeDialog()"
>
<mat-icon>close</mat-icon>
</button>
<app-month-year-selector (monthYearListener)="onSelectYearMonth($event)"></app-month-year-selector>

<button *ngIf="user && (user.role === 'DIRECCION' || user.role === 'ADMIN')" class="bg-primary text-white p-2 rounded-lg hover:bg-primary-200" mat-flat-button primary
[disabled]="!monthSelected && !yearSelected" [type]="!monthSelected && !yearSelected ? 'button' : 'submit'"(click)="onSubmit()">Descargar</button>
<button *ngIf="user && (user.role === 'ENLACE_REGIONAL' || user.role === 'COORDINACION')" class="bg-primary text-white p-2 rounded-lg hover:bg-primary-200" mat-flat-button primary
[disabled]="!monthSelected && !yearSelected" [type]="!monthSelected && !yearSelected ? 'button' : 'submit'"(click)="onSubmitRegionalLink()">Descargar</button>
<app-loading *ngIf="loading"></app-loading>
