<form [formGroup]="form">
    <div class="mb-4">
        <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
            <mat-label>Coordinadores</mat-label>
            <input
                type="text"
                matInput
                [formControl]="coordinatorFilter"
                [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectCoordinatorId($event)">
                <mat-option *ngFor="let coordinator of filteredCoordinators" [value]="coordinator.id">
                    {{ coordinator.name }} - {{ coordinator.divipol }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</form>
