
<form [formGroup]="form" class="m-0 bg-white rounded-md  my-4" [ngClass]="{'border-red-500 border rounded-md': form.invalid && timeout}">
    <span class="text-blue-600 text-lg font-semibold">*</span>
    <label for="options" class="text-sm font-semibold text-gray-700 mb-4">{{ title }}</label>
    <select (change)="setValue($event)"
      id="options" 
      formControlName="selectedOption" 
      required 
      class="w-full h-10 p-2">
      <option class="w-40 h-10" *ngFor="let option of array" [value]="option.key">{{ option.value }}</option>
    </select>
    <span *ngIf="form.invalid && timeout" class="text-red-500 text-xs">* Campo con error</span>
</form>
